<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>988122638107-9eqh0g8esjjrm6ilvtk8t1ov4331cr6l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.988122638107-9eqh0g8esjjrm6ilvtk8t1ov4331cr6l</string>
	<key>API_KEY</key>
	<string>AIzaSyDSPXdhHgdI9QYP55wVBsyDeZZKAvqJwwU</string>
	<key>GCM_SENDER_ID</key>
	<string>988122638107</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.autofarm</string>
	<key>PROJECT_ID</key>
	<string>automafarm</string>
	<key>STORAGE_BUCKET</key>
	<string>automafarm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:988122638107:ios:b0725abd0438d4ab7855be</string>
</dict>
</plist>